.react-button {
  border: none;
  background: none;
  user-select: none;
  -webkit-touch-callout: none;
  padding: 1em 2em;
  border-radius: .4em;
}
  .react-button:focus {
    outline: none; }
  .react-button[data-size=small] {
    font-size: 8px; }
  .react-button[data-size=normal] {
    font-size: 12px; }
  .react-button[data-size=large] {
    font-size: 16px; }
  .react-button[data-round=true] {
    border-radius: 100px; }
  .react-button[data-round=false] {
    border-radius: 0; }
  .react-button[data-full=true] {
    display: block;
    width: 100%; }
  .react-button[data-color=primary] {
    background: #387ef5;
    color: #fff;
    border: 1px solid #387ef5; }
    .react-button[data-color=primary]:active {
      background: #0c60ee; }
    .react-button[data-color=primary][data-outline=true] {
      background: #fff;
      color: #387ef5; }
      .react-button[data-color=primary][data-outline=true]:active {
        color: #fff;
        background: #699df7; }
  .react-button[data-color=secondary] {
    background: #32db64;
    color: #fff;
    border: 1px solid #32db64; }
    .react-button[data-color=secondary]:active {
      background: #21b94e; }
    .react-button[data-color=secondary][data-outline=true] {
      background: #fff;
      color: #32db64; }
      .react-button[data-color=secondary][data-outline=true]:active {
        color: #fff;
        background: #5de385; }
  .react-button[data-color=wechat] {
    background: #1aad19;
    color: #fff;
    border: 1px solid #1aad19; }
    .react-button[data-color=wechat]:active {
      background: #138013; }
    .react-button[data-color=wechat][data-outline=true] {
      background: #fff;
      color: #1aad19; }
      .react-button[data-color=wechat][data-outline=true]:active {
        color: #fff;
        background: #21da1f; }
