/*--- Brand asset --*/

.brandasset {
  position: relative;
  border-radius: 2px;
  margin: 10px 0px;
  transition: opacity 0.5s,transform 0.5s ease;
  -webkit-transition: opacity 0.5s,transform 0.5s ease;
  transform: translateY(24px);
  -webkit-transform: translateY(24px);
  opacity: 0;
  img {
    position: relative;
    width: 100%;
    min-width: 100%;
    margin: 5px 0px;
    border-radius: 2px;
    cursor: -moz-zoom-in;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
    z-index: 1;
    margin: 0;
    transition: opacity 0.5s,transform 0.5s ease;
    -webkit-transition: opacity 0.5s,transform 0.5s ease;
  }
  .overlay {
    position: absolute;
    top: 10px;
    z-index: 2;
    opacity: 0;
    width: 100%;
    transition: opacity 0.5s,transform 0.5s ease;
    -webkit-transition: opacity 0.5s,transform 0.5s ease;
  }
  span {
    position: absolute;
    margin: 0px 5px;
    right: 10px;
    top: 10px;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 3px;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/img/download.svg');
  }
  h5 {
    left: 10px;
    top: 10px;
    margin: 10px;
    font-size: 18px;
    max-width: 50%;
    line-height: 24px;
  }
}



/*--- Animate tweaks ----*/
.brandasset[data-emergence=hidden] {
  transition: opacity 1s,transform 2s cubic-bezier(.075,.82,.165,1);
  -webkit-transition: opacity 1s,transform 2s cubic-bezier(.075,.82,.165,1);
  transform: translateY(24px);
  -webkit-transform: translateY(24px);
  opacity: 0;
}
.brandasset[data-emergence=visible] {
  transform: translateY(-24px);
  -webkit-transform: translateY(-24px);
  opacity: 1;
  visibility: visible;
  &:hover {
    box-shadow: 0px 5px 20px 0 rgba(31,32,68,.15);
    transform: scale(1.05) translateY(24px);
    -webkit-transform: scale(1.05) translateY(-24px);
    transition: opacity 0.5s,transform 0.5s ease;
    -webkit-transition: opacity 0.5s,transform 0.5s ease;
    .overlay {
      opacity: 1;
    }
    img {
      opacity: 0.3;
    }
  }
}
