@import "../variables.scss";

$react-button-colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  wechat:    #1aad19
);

button{
  border:none;
  background: none;
  user-select: none;
  -webkit-touch-callout: none;
  border-radius: 4px;
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
  font-family: $font-med;
  &:focus{
    outline: none;
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
  }
  &:hover {
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    cursor: pointer;
  }

  padding:1em 2em;

  //size:
  &[data-size=small]{
    font-size:8px;
  }

  &[data-size=normal]{
    font-size:12px;
  }

  &[data-size=large]{
    font-size:16px;
  }
  //round:
  &[data-round=true]{
    border-radius: 100px;
  }
  &[data-round=false]{
    border-radius: 0;
  }

  //full:
  &[data-full=true]{
    display: block;
    width:100%;
  }
  &[data-color=border]{
    border: 1px solid #CED1D6;
    color: #000;
    background: #fff;
    &:hover {
      border: 1px solid #aaa;
    }
  }
  //theme:
  @each $name,$color in $react-button-colors{
    &[data-color=#{$name}]{
      background: $color;
      color:#fff;
      border:1px solid $color;
      &:active{
        background: darken($color,10%);
      }

      &[data-outline=true]{
        background: #fff;
        color:$color;

        &:active{
          color:#fff;
          background: lighten($color,10%);
        }
      }
    }
  }

}
