button {
  border: none;
  background: none;
  user-select: none;
  -webkit-touch-callout: none;
  border-radius: 4px;
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
  font-family: "gotham-medium", helevetica neue, helvetica, sans-serif;
  padding: 1em 2em; }
  button:focus {
    outline: none;
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease; }
  button:hover {
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    cursor: pointer; }
  button[data-size=small] {
    font-size: 8px; }
  button[data-size=normal] {
    font-size: 12px; }
  button[data-size=large] {
    font-size: 16px; }
  button[data-round=true] {
    border-radius: 100px; }
  button[data-round=false] {
    border-radius: 0; }
  button[data-full=true] {
    display: block;
    width: 100%; }
  button[data-color=border] {
    border: 1px solid #CED1D6;
    color: #000;
    background: #fff; }
    button[data-color=border]:hover {
      border: 1px solid #aaa; }
  button[data-color=primary] {
    background: #387ef5;
    color: #fff;
    border: 1px solid #387ef5; }
    button[data-color=primary]:active {
      background: #0c60ee; }
    button[data-color=primary][data-outline=true] {
      background: #fff;
      color: #387ef5; }
      button[data-color=primary][data-outline=true]:active {
        color: #fff;
        background: #699df7; }
  button[data-color=secondary] {
    background: #32db64;
    color: #fff;
    border: 1px solid #32db64; }
    button[data-color=secondary]:active {
      background: #21b94e; }
    button[data-color=secondary][data-outline=true] {
      background: #fff;
      color: #32db64; }
      button[data-color=secondary][data-outline=true]:active {
        color: #fff;
        background: #5de385; }
  button[data-color=wechat] {
    background: #1aad19;
    color: #fff;
    border: 1px solid #1aad19; }
    button[data-color=wechat]:active {
      background: #138013; }
    button[data-color=wechat][data-outline=true] {
      background: #fff;
      color: #1aad19; }
      button[data-color=wechat][data-outline=true]:active {
        color: #fff;
        background: #21da1f; }
