
/*--- GLOBAL --*/
.headbg {
  height: 740px;
  background: $headbg;
}
main {
  margin: 0 auto;
}
.frame {
  position: relative;
  background: #fff;
  margin: 0px 30px;
  padding: 80px 0px;
}

.frame .content {
  position: relative;
  left: 120px;
  margin: 0 auto;
  max-width: 900px;
  width: 900px;
}
@media screen and (min-width: 1500px) {
  main {
    width: 1450px;
  }
  header {
    width: 1390px;
  }
}
@media screen and (max-width: 1500px) {
  main {
    width: 1350px;
  }
  header {
    width: 1290px;
  }
}
@media screen and (max-width: 1400px) {
  main {
    width: 1200px;
  }
  header {
    width: 1140px;
  }
}
@media screen and (max-width: 1200px) {
  main {
    width: 1000px;
  }
  header {
    width: 940px;
  }
  .frame .content {
    width: 600px;
  }
}
@media screen and (max-width: 1000px) {
  body {
    background: #fff;
  }
  main {
   margin-left: 0px;
   width: 96%;
  }
  .frame {
    position: relative;
    background: #fff;
    margin: 0px;
    padding: 80px 0px;
    width: 96%;
    left: 0;
  }
  .frame .content {
    margin: 0 auto;
    max-width: 96%;
    width: 96%;
    left: 0;
  }
}
