/*--- TYPE ----*/
h1 {
  font-size: 42px;
  font-family: "gotham-light", helevetica neue, helvetica, sans-serif; }

h2 {
  font-size: 32px;
  font-family: "gotham-light", helevetica neue, helvetica, sans-serif; }

h3 {
  font-size: 24px;
  font-family: "gotham-light", helevetica neue, helvetica, sans-serif; }

h4 {
  font-size: 16px;
  font-family: "gotham-medium", helevetica neue, helvetica, sans-serif; }

h5 {
  font-size: 14px;
  font-family: "gotham-medium", helevetica neue, helvetica, sans-serif; }

p {
  font-size: 15px;
  font-family: "gotham-book", helevetica neue, helvetica, sans-serif;
  line-height: 30px;
  color: #777b85; }

a {
  color: #000;
  text-decoration: none; }

/*--- CUSTOM STYLING ----*/
.sectionheader {
  margin: 120px 0px 30px; }

h4.subhead {
  font-size: 15px;
  font-family: "gotham-book", helevetica neue, helvetica, sans-serif;
  color: #848484;
  margin: 0px 0px 40px; }

@media screen and (min-width: 1500px) {
  h1 {
    font-size: 42px; }
  h2 {
    font-size: 32px; }
  h3 {
    font-size: 24px; }
  h4 {
    font-size: 16px; }
  h5 {
    font-size: 14px; }
  p {
    font-size: 15px;
    line-height: 30px; } }
