@import "../variables.scss";

/*--- TYPE ----*/
h1 {
  font-size: 42px;
  font-family: $font-light;
}
h2 {
  font-size: 34px;
  font-family: $font-light;
}
h3 {
  font-size: 24px;
  font-family: $font-light;
}
h4 {
  font-size: 16px;
  font-family: $font-reg;
}
h5 {
  font-size: 14px;
  font-family: $font-med;
}
p {
  font-size: 15px;
  font-family: $font-reg;
  line-height: 30px;
  color: #777b85;
}
a {
  color: #000;
  text-decoration: none;
}

/*--- CUSTOM STYLING ----*/
.sectionheader {
  margin: 100px 0px 30px;
  &:after {
    width: 10px;
    height: 1px;
    background: #000;
  }
}
.sectionheader::after {
  width: 10px;
  height: 1px;
  background: #000;
}
h4.subhead {
  font-size: 15px;
  font-family: $font-reg;
  color: #848484;
  margin: 0px 0px 40px;
}

@media screen and (min-width: 1500px) {
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 34px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 14px;
  }
  p {
    font-size: 15px;
    line-height: 30px;
  }
}
@media screen and (max-width: 1500px) {
}
@media screen and (max-width: 1400px) {
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 1000px) {
}
