.colorcard {
  margin: 15px 0px 15px;
  font-size: 13px; }

.colorcard .color {
  height: 170px;
  background-color: #2DBE60;
  border: 1px solid #2DBE60;
  border-bottom: none;
  border-radius: 3px 3px 0px 0px; }

.colorcard .details {
  border: 1px solid;
  border-color: #E6E6E6;
  border-radius: 0px 0px 3px 3px;
  padding: 20px 20px 10px; }

.colorcard .details span {
  font-family: "gotham-book", helevetica neue, helvetica, sans-serif;
  color: #A8A8A8; }

.colorcard .details p {
  font-family: "gotham-book", helevetica neue, helvetica, sans-serif;
  margin-bottom: 24px; }

.colorrow {
  position: relative;
  width: 100%;
  margin: 5px 0px;
  padding: 0px 0px 0px 100px;
  font-size: 13px;
  height: 66px;
  border: 1px solid;
  border-radius: 3px;
  border-color: #E6E6E6; }

.colorrow .color {
  position: absolute;
  left: -1px;
  top: -1px;
  float: left;
  width: 67px;
  height: 67px;
  background-color: #2DBE60;
  border: 1px solid #2DBE60;
  border-bottom: none;
  border-radius: 3px; }

.colorrow span {
  position: relative;
  top: 12px;
  font-family: "gotham-book", helevetica neue, helvetica, sans-serif;
  color: #A8A8A8; }

.colorrow p {
  position: relative;
  top: 8px;
  font-family: "gotham-book", helevetica neue, helvetica, sans-serif;
  margin-bottom: 24px; }
