
.img {
  background: #F2F2F2;
  width: 100%;
  height: 80px;
  margin: 5px 0px;
}

/*--- Brand asset --*/

.brandasset {
  position: relative;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  margin: 10px 0px;
  &:hover {
    img {
      opacity: 0.3;
    }
  }
  img {
    position: relative;
    width: 100%;
    min-width: 100%;
    margin: 5px 0px;
    transition: transform .3s ease,-webkit-transform .3s ease;
    z-index: 1;
    margin: 0;
  }
  .overlay {
    transition: transform .3s ease,-webkit-transform .3s ease;
    position: absolute;
    top: 10px;
    z-index: 2;
    opacity: 0;
    width: 100%;
  }
  span {
    position: absolute;
    margin: 0px 5px;
    right: 10px;
    top: 10px;
  }
  h5 {
    left: 10px;
    top: 10px;
    margin: 10px;
    font-size: 18px;
    max-width: 50%;
    line-height: 24px;
  }
}
.brandasset:hover .overlay {
  opacity: 1;
}

/*--- GLOBAL --*/
main {
  margin-left: 240px;
}

.container {
  margin: 0 auto;
  max-width: 880px;
  width: 880px;
}

@media screen and (max-width: 1000px) {
  main {
    margin-left: 0px;
  }
  .container {
    margin: 0 auto;
    max-width: 90%;
    width: 90%;
  }
}

/*--- PAGE TITLES --*/

.pagetitle {
  height: 300px;
  max-height: 300px;
  margin-bottom: 40px;
  background: #F2F2F2;
  .title {
    padding: 110px 20px 0px;
    margin: 0;
    font-size: 55px;
    font-family: "gotham-light", helevetica neue, helvetica, sans-serif;
  }
}

.hometitle {
  height: 455px;
  max-height: 455px;
  margin-bottom: 20px;
  background: #F2F2F2;
  margin-top: 0px;
  .title {
    padding: 180px 0px 0px;
    margin: 0;
    font-size: 55px;
    font-family: "gotham-light", helevetica neue, helvetica, sans-serif;
  }
}


/*--- TYPE ----*/
h1 {
  font-size: 42px;
  font-family: "gotham-light", helevetica neue, helvetica, sans-serif;
}
h2 {
  margin: 110px 0px 10px;
  font-size: 30px;
  font-family: "gotham-light", helevetica neue, helvetica, sans-serif;
}
h3 {
  font-size: 24px;
  font-family: "gotham-light", helevetica neue, helvetica, sans-serif;
}
h4 {
  font-size: 18px;
  font-family: "gotham-medium", helevetica neue, helvetica, sans-serif;
}
h5 {
  font-size: 14px;
  font-family: "gotham-medium", helevetica neue, helvetica, sans-serif;
}
p {
  font-size: 14px;
  font-family: "gotham-book", helevetica neue, helvetica, sans-serif;
  line-height: 30px;
  color: #777b85;
}
