@import "./kit/color.scss";
@import "./kit/brandasset.scss";
@import "./kit/type.scss";

.img img {
  width: 100%;
  max-width: 100%;
  margin: 5px 0px;
}

/*--- GLOBAL --*/
.headbg {
  height: 740px;
  background: $headbg;
}
main {
  width: 1400px;
  margin: 0 auto;
}
.frame {
  position: relative;
  background: #fff;
  margin: 0px 30px;
  padding: 80px 0px;
}

.frame .content {
  position: relative;
  left: 120px;
  margin: 0 auto;
  max-width: 900px;
  width: 900px;
}
@media screen and (min-width: 1500px) {
  main {
    width: 1500px;
  }
  header {
    width: 1440px;
  }
}
@media screen and (max-width: 1500px) {
  main {
    width: 1400px;
  }
  header {
    width: 1340px;
  }
}
@media screen and (max-width: 1400px) {
  main {
    width: 1200px;
  }
  header {
    width: 1140px;
  }
}
@media screen and (max-width: 1200px) {
  main {
    width: 1000px;
  }
  header {
    width: 940px;
  }
  .frame .content {
    width: 600px;
  }
}
@media screen and (max-width: 1000px) {
  body {
    background: #fff;
  }
  main {
   margin-left: 0px;
   width: 96%;
  }
  .frame {
    position: relative;
    background: #fff;
    margin: 0px;
    padding: 80px 0px;
    width: 96%;
    left: 0;
  }
  .frame .content {
    margin: 0 auto;
    max-width: 96%;
    width: 96%;
    left: 0;
  }
}



/*--- PAGE TITLES --*/

.pagetitle {
  height: 430px;
  max-height: 430px;
  margin-bottom: 40px;
  .icon {
    display: inline-block;
    float: right;
    width: 120px;
    height: 120px;
    margin: 100px 20px 0px;
    padding: 0px;
  }
  .title {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 300px 26px 0px;
    font-size: 74px;
    font-family: "gotham-bold", helevetica neue, helvetica, sans-serif;
  }
}

/*--- HOME TITLES --*/
.hometitle {
  height: 455px;
  max-height: 455px;
  margin-bottom: 20px;
  margin-top: 0px;
  .title {
    padding: 200px 0px 0px;
    margin: 0;
    font-size: 70px;
    max-width: 400px;
    font-family: "gotham-bold", helevetica neue, helvetica, sans-serif;
  }
}
/*----ANIMATE ---*/
.animate {
  -webkit-transition: opacity 1s,transform 2s cubic-bezier(.075,.82,.165,1);
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
}
[data-emergence=hidden] {
  transition: opacity 1s,transform 2s cubic-bezier(.075,.82,.165,1);
  -webkit-transition: opacity 1s,transform 2s cubic-bezier(.075,.82,.165,1);
  transform: translateY(100px);
  -webkit-transform: translateY(100px);
}
[data-emergence=visible] {
  -webkit-transition: opacity 1s,transform 2s cubic-bezier(.075,.82,.165,1);
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}

.revealed {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  visibility: visible;
}
.revealer {
  transform: translateY(100px);
  -webkit-transform: translateY(100px);
  visibility: visible;
}
