@import "./kit/brandasset.scss";
@import "./kit/type.scss";

$bodybg: #F2F4F6;
$green: #2dbe60;

/*--- GLOBAL --*/
body {
  background: $bodybg;
}

main {
 margin-left: 270px;
}
.frame {
 background: #fff;
 margin: 0px 30px;
 padding: 80px 0px;
}

.container {
 margin: 0 auto;
 max-width: 902px;
 width: 902px;
}

@media screen and (max-width: 1000px) {
  body {
    background: #fff;
  }
 main {
   margin-left: 0px;
 }
 .frame {
  background: #fff;
  margin: 0px;
  padding: 80px 0px;
 }
 .container {
   margin: 0 auto;
   max-width: 96%;
   width: 96%;
 }
}

.img {
  background: #F2F2F2;
  width: 100%;
  height: 80px;
  margin: 5px 0px;
}


/*--- PAGE TITLES --*/

.pagetitle {
  height: 350px;
  max-height: 350px;
  margin-bottom: 40px;
  .icon {
    display: inline-block;
    float: right;
    width: 120px;
    height: 120px;
    margin: 100px 20px 0px;
    padding: 0px;
  }
  .title {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 190px 20px 0px;
    font-size: 60px;
    font-family: "gotham-bold", helevetica neue, helvetica, sans-serif;
    transition: opacity 1s,transform 2s cubic-bezier(.075,.82,.165,1);
    -webkit-transition: opacity 1s,transform 2s cubic-bezier(.075,.82,.165,1);
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
  }
  .title[data-emergence=hidden] {
    transition: opacity 1s,transform 2s cubic-bezier(.075,.82,.165,1);
    -webkit-transition: opacity 1s,transform 2s cubic-bezier(.075,.82,.165,1);
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
  }
  .title[data-emergence=visible] {
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    opacity: 1;
    visibility: visible;
  }
}

.hometitle {
  height: 455px;
  max-height: 455px;
  margin-bottom: 20px;
  margin-top: 0px;
  .title {
    padding: 200px 0px 0px;
    margin: 0;
    font-size: 62px;
    max-width: 400px;
    font-family: "gotham-bold", helevetica neue, helvetica, sans-serif;
    transition: opacity 1s,transform 2s cubic-bezier(.075,.82,.165,1);
    -webkit-transition: opacity 1s,transform 2s cubic-bezier(.075,.82,.165,1);
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
  }
  .title[data-emergence=hidden] {
    transition: opacity 1s,transform 2s cubic-bezier(.075,.82,.165,1);
    -webkit-transition: opacity 1s,transform 2s cubic-bezier(.075,.82,.165,1);
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
  }
  .title[data-emergence=visible] {
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    opacity: 1;
    visibility: visible;
  }
}

[data-emergence=hidden] {
  transition: opacity 1s,transform 2s cubic-bezier(.075,.82,.165,1);
  -webkit-transition: opacity 1s,transform 2s cubic-bezier(.075,.82,.165,1);
  transform: translateY(50px);
  -webkit-transform: translateY(50px);
}
[data-emergence=visible] {
  transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
  opacity: 1;
  visibility: visible;
}
