@import "./kit/color.scss";
@import "./kit/animation.scss";
@import "./kit/type.scss";
@import "./kit/layout.scss";

@import "./components/brandasset.scss";

.img img {
  width: 100%;
  max-width: 100%;
  margin: 5px 0px;
}



/*--- PAGE TITLES --*/

.pagetitle {
  height: 460px;
  max-height: 460px;
  margin-bottom: 40px;
  .icon {
    display: inline-block;
    float: right;
    width: 120px;
    height: 120px;
    margin: 100px 20px 0px;
    padding: 0px;
  }
  .title {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 300px 26px 0px;
    font-size: 78px;
    font-family: "gotham-bold", helevetica neue, helvetica, sans-serif;
  }
}

/*--- HOME TITLES --*/
.hometitle {
  height: 455px;
  max-height: 455px;
  margin-bottom: 20px;
  margin-top: 0px;
  .title {
    padding: 200px 0px 0px;
    margin: 0;
    font-size: 70px;
    max-width: 400px;
    font-family: "gotham-bold", helevetica neue, helvetica, sans-serif;
  }
}
