body {
  background-color: #fff;
  padding: 0px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}

/*-- CONTENT ---*/

.rightside {
  margin-left: 240px;
}
.content {
  background-color: #FFF;
  padding: 20px;
  width: 800px;
  margin: 0 auto;
}
.contentHeader {
  padding: 100px 0px 20px;
}
.contentHeader h2 {
  padding: 0;
  margin: 0;
  font-size: 42px;
}
.content li {
  margin-bottom: 10px;
}

/*-- SIDEBAR ---*/
.navTitle {
  padding: 20px 16px;
  font-size: 22px;
}
.navSectionTitle {
  padding: 40px 16px 16px;
  font-size: 14px;
  color: #9F9F9F;
}
ul.header {
  position: fixed;
  float: left;
  background-color: #f8f8f8;
  padding: 0;
  margin: 0;
  width: 240px;
  bottom: 0;
  top: 0;
  left: 0;
}
ul.header li {
  display: block;
  list-style-type: none;
  margin: 0;
  width: 240px;
  font-size: 14px;
}
ul.header li a {
  color: #000;
  text-decoration: none;
  padding: 16px;
  display: block;
}
.active {
  background-color: #fff;
}
