/*--TEMPLATE---*/
$headbg: #F6F6F6;

/*--PALLETE---*/
$green: #2dbe60;

/*--FONTS---*/
$font-light: "gotham-light", helevetica neue, helvetica, sans-serif;
$font-reg: "gotham-book", helevetica neue, helvetica, sans-serif;
$font-med: "gotham-medium", helevetica neue, helvetica, sans-serif;
$font-bold: "gotham-bold", helevetica neue, helvetica, sans-serif;
